@model ImageDiff.Web.Features.ImageDifference.ImageDifferenceViewModel

@{
	Layout = "~/Features/Shared/_Layout.cshtml";
}
<div class="page-container align-center text-align-center">
	<h2 class="page-title align-center">Pages</h2>
	@foreach (var page in Model.Pages.Reverse())
	{
		<div class="page-object align-center text-align-center">
			<h3>@page.Name</h3>
			<p>Build #: <b>@page.Build</b></p>

			@if (page.HumanComparisonRequired)
			{ <p style="background-color:#00ace6;">@page.LastComparisonDate</p> }
			else if (page.ComparisonStillValid)
			{ <p style="background-color: #21b82b;">@page.LastComparisonDate</p> }
			else
			{ <p style="background-color:  #FF4646;">@page.LastComparisonDate</p>}

			@if (page.HumanComparisonRequired)
			{
				<a href="@page.OriginalImageUrl" target="_blank">
					<img class="difference-image" src="@page.OriginalImageUrl" alt="originalImage" />
				</a>
				<a href="@page.ComparisonImageUrl" target="_blank">
					<img class="difference-image" src="@page.ComparisonImageUrl" alt="comparisonImage" />
				</a>
				<a href="@Url.Action("DifferenceImage", "ImageDifference", new { name = page.Name, lastComparisonDate = page.LastComparisonDate })" target="_blank">
					<img class="difference-image" src="@Url.Action("DifferenceImage", "ImageDifference", new { name = page.Name, lastComparisonDate = page.LastComparisonDate })" alt="differenceImage" />
				</a>
				<br />
				<br />
				@Html.ActionLink("Approve Difference", "Approve", new { name = page.Name }, new { @class = "btn" })
				<br />
				<br />
			}
			<a class="btn align-center" href="#@page.Name">Delete</a>
			<br />
			<br />
			<div id="@page.Name" class="modalDialog">
				<div class="align-center text-align-center">
					<a href="#closedModal" title="Close" class="close">X</a>

					<h3>Delete @page.Name</h3>
					<p>Warning! This will delete this page.</p>
					@Html.ActionLink("#$@&! the police", "Delete", new { name = page.Name }, new { @class = "btn danger" })
				</div>
			</div>
		</div>
	}
	<br />
	<br/>
	<a class="btn danger align-center" href="#deleteAll">Delete All</a>
	<div id="#deleteAll" class="modalDialog">
		<div class="align-center text-align-center">
			<a href="#closedModal" title="Close" class="close">X</a>

			<h3>Delete All</h3>
			<p>Warning! This will delete this page.</p>
			@Html.ActionLink("#$@&! the police", "DeleteAll", new { }, new { @class = "btn danger" })
		</div>
	</div>
</div>