@using System.Globalization
@model PDiffy.Features.TextDifferences.Index.Model

@{
	var textComparison = Model;
	var comparison_class = (textComparison.HumanComparisonRequired)
		? "human-comparison-required"
		: (textComparison.ComparisonStillValid)
			? "valid"
			: "invalid";
}

<div class="page-object text-align-left" style="display:none;">
	<div class="page-object-header">
		<div class="float-left">
			<span class="site">@textComparison.Site</span> | <span class="page">@textComparison.Page</span> |&nbsp;
		</div>
		<div class="float-right">
			<span class="comparison @comparison_class">@string.Format("{0:ddd, MMM d - hh.mm}", textComparison.LastComparisonDate))</span>
		</div>

		<div class="overflow-ellipses">
			<code>@textComparison.Name</code>
		</div>
	</div>
	<div class="page-object-body">
		<div style="" class="original-text">
			<p class="pre-wrap-white-space">@textComparison.OriginalText</p>
		</div>
		<div style="" class="comparison-text">
			<p class="pre-wrap-white-space">@textComparison.ComparisonText</p>
		</div>
		<div style="" class="differences-text">
			<p>@Html.Raw(Server.HtmlDecode(textComparison.DifferenceText.Replace("&amp;para;", string.Empty)))</p>
		</div>
	</div>

	@{ var values = new { name = textComparison.Name, page = textComparison.Page, site = textComparison.Site }; }
	<div class="controls text-align-center">
		@if (textComparison.HumanComparisonRequired)
		{
			@Html.ActionLink("Approve Difference", "Approve", "TextDifferences", values, new { @class = "btn" })
		}

		<a class="btn align-center" href="@Url.Action("Index", "History", values)">History</a>

		<a class="btn align-center" href="#@textComparison.Name">Delete</a>
	</div>
	<div id="@textComparison.Name" class="modalDialog">
		<div class="align-center text-align-center">
			<a href="#closedModal" title="Close" class="close">X</a>

			<h3>Delete @textComparison.Name</h3>
			<p>Warning! Read this!</p>
			<p>This will delete this comparison and the history for it.</p>
			@Html.ActionLink("#$@&! the police", "Delete", values, new { @class = "btn danger" })
		</div>
	</div>
</div>